{% extends "original_text/base.html" %}

{% block body %}


<h4>{{ results.book_title }}   <span class="badge bg-light text-dark">First</span></h4>
<div class="accordion" id="accordionExample">
    {% for chapter in results.chapter_titles %}
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ chapter.title_number }}" aria-expanded="true" aria-controls="collapseOne">
                {{ chapter.title_name }}
            </button>
          </h2>
        </div>

        <div id="collapse{{ chapter.title_number }}" class="collapse in" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
              <ol>
                {% for data in results.datas %}
                    {% if data.chapter_id.title_name == chapter.title_name %}
                        <table class="table table-striped">
                            <tbody>
                              <tr>
                                <td><li>{{ data.content }}</li></td>
                              </tr>
                              <tr>
                                <td><p>{{ data.translation_eng }}</p></td>
                              </tr>
                            </tbody>
                        </table>
                        <p>
                            <button type="button" class="btn btn-outline-success">Chunks</button>
                            <button type="button" class="btn btn-outline-warning" name="{{ data.pk }}" onclick="myFunction(this)">Grammar</button>
                            <button type="button" class="btn btn-outline-info">Practice</button>
                        </p>
                    {% endif %}
                {% endfor %}
              </ol>
          </div>
        </div>
      </div>
    {% endfor %}
</div>





{% endblock %}


