<p>
    <button type="button" class="btn btn-outline-success">Chunks</button>
    <button type="button" class="btn btn-outline-warning" name="{{ data.pk }}" onclick="myFunction(this)">Grammar</button>
    <button type="button" class="btn btn-outline-info">Practice</button>
    <br>
</p>

<script>
    function myFunction(a) {
        var iframe = document.createElement('iframe');
        iframe.src = "sentence_grammar/"+a.name;
        iframe.frameBorder = "0"
        iframe.width = "100%"
        a.parentElement.appendChild(iframe);
    }
</script>