<div class="col-md-12 tab-wrap">
        <div class="tab-content p-4" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                            <form action="{% url 'original_text:search' %}" class="search-job" method="get">
                                <div class="row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="icon"><span class="icon-briefcase"></span></div>
                                                <input type="text" name='text_book'  class="form-control" placeholder="eg. six ans">
                                              </div>
                                          </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="select-wrap">
                                                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                      <select name="book_title"  class="form-control">
                                                          <option value="all">ALL BOOKS</option>
                                                          {% for book in results.all_books %}
                                                              <option value="{{ book.title }}" >{{ book.title }}</option>
                                                          {% endfor %}
                                                      </select>
                                                 </div>
                                               </div>
                                           </div>
                                     </div>
                                    <div class="col-md">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="select-wrap">
                                                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                      <select name="text_language"  class="form-control">
                                                          {% for language in results.text_language %}
                                                             <option value="{{ language }}">{{ language }}</option>
                                                          {% endfor %}
                                                      </select>
                                                 </div>
                                               </div>
                                          </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="submit" value="Search" class="form-control btn btn-primary">
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                          </div>
                        </div>
        </div>